.card {
    background-color: black;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-radius: 5%;
    min-width: 350px;
    /* Elementos de arriba a abajo */
}
.dimmed {
    filter: saturate(0.3) brightness(0.7);
    pointer-events: none;
    /* opcional, si quieres deshabilitarlo */
}

#pokemon_cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.audio_controls {
    margin: 15px;
    display: flex;
    justify-content: center;
}

#audioPlayer {
    background-color: rgb(229, 229, 128);
}

#pokemon_image {
    margin: 5%;
    max-width: 300px;
}

legend {
    text-align: center;
}

.stats {
    flex: 1;
}

.label_name {
    display: flex;
    justify-content: center;
}

.info_lists>* {
    color: rgb(229, 229, 128);
}

.data {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.abilities {
    flex: 1;
}

.info_lists {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#main_buttons_div {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espacio entre botones */
}

#turn_button,
#shiny_button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: 4px;
}

#turn_button:hover,
#shiny_button:hover,
#searchBtn:hover,
#randomSearchBtn:hover {
    transform: scale(1.1);
    background-color: rgb(200, 200, 100);
    margin: 2px;
}

#searchBtn,
#randomSearchBtn {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0px;
}

button {
    display: inline-block;
    background-color: rgb(229, 229, 128);
    border-radius: 15%;
    width: 40px;
    transition: all 0.2s ease;
    transform-origin: center center;
    height: 40px;
    border: 0px;
    font-size: 28px;
    /* Aumentado de 20px a 28px */

}

h2 {
    background-color: rgb(235, 235, 10);
    border-radius: 5%;
    display: inline-block;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: 0;
    text-align: center;
}

.tituloPrincipal {
    margin: 0px;
    text-align: center;
    padding: 30px;
    background-color: black;
    color: rgb(229, 229, 128);
}

body {
    margin: 0px;
    background-color: rgb(229, 229, 128);

}

.body {
    margin: 18px;
    place-items: center;
    display: grid;
}

.search_div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

#pokemonInput {
    height: 30px;
    border-radius: 10px;
}